/* ---------- GLOBAL ---------- */
/* colours */
:root {
	--green: #44c2a9;
	--faded-grey: #ebf0ef;
	--light-grey: #bbbbbb;
	--dark-grey: #444444;
	--darker-grey: #252626;
	--blue: #6ca4d7;
}

/* font */
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../font/ubuntu/ubuntu-v13-latin-700.eot"); /* IE9 Compat Modes */
	src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url("../font/ubuntu/ubuntu-v13-latin-700.eot?#iefix") format("embedded-opentype"), url("../font/ubuntu/ubuntu-v13-latin-700.woff2") format("woff2"), url("../font/ubuntu/ubuntu-v13-latin-700.woff") format("woff"), url("../font/ubuntu/ubuntu-v13-latin-700.ttf") format("truetype"), url("../font/ubuntu/ubuntu-v13-latin-700.svg#Ubuntu") format("svg");
}

@font-face {
	font-family: "Avenir Next";
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src: local("Avenir Next"), local("Avenir-Next"), url("../font/avenir-next/AvenirNextLTPro-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Avenir Next";
	font-weight: bold;
	font-style: normal;
	font-display: swap;
	src: local("Avenir Next Bold"), local("Avenir-Next-Bold"), url("../font/avenir-next/AvenirNextLTPro-Bold.otf") format("opentype");
}

/* body */
html {
	font-family: "Avenir Next", Arial, sans-serif;
	font-size: 14px;
	color: var(--dark-grey);
	background-color: var(--faded-grey);
	scroll-behavior: smooth;
}

@media (min-width: 576px) {
	html {
		font-size: 16px;
	}
}

* {
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	transition: all 0.3s ease-in-out;
	transition-property: background-color, color;
}

body.dark-mode {
	color: white;
	background-color: var(--darker-grey);
}

.show-if {
	position: relative;
}

.show-if-dark,
.show-if-light {
	transition: opacity 0.3s ease-in-out;
}

.show-if-dark {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.dark-mode .show-if-dark {
	opacity: 1;
}

.dark-mode .show-if-light {
	opacity: 0;
}

.show-if-desktop {
	display: none;
}

@media (min-width: 576px) {
	.show-if-desktop {
		display: block;
	}

	.show-if-mobile {
		display: none;
	}
}

/* typography */
h1,
h2,
h3 {
	font-family: "Ubuntu", Arial, sans-serif;
	font-weight: bold;
	line-height: 150%;
}

h1 {
	font-size: 2.75rem;
}

h2 {
	font-size: 1.5rem;
}

h2.lowerbar {
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

h2.lowerbar:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 75px;
	height: 10px;
	background-color: var(--green);
}

h3 {
	font-size: 1.125rem;
}

p {
	font-size: 1rem;
	line-height: 150%;
}

p.lead {
	font-size: 1.75rem;
}

/* elements */
a {
	display: inline-block;
	color: var(--dark-grey);
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

.dark-mode a {
	color: white;
}

img,
video {
	display: block;
}

li {
	list-style-type: none;
}

/* ---------- LAYOUT ---------- */
/* section */
section {
	padding: 140px 0 80px;
}

@media (min-width: 576px) {
	section {
		padding: 150px 0;
	}
}

/* container */
.container {
	margin: 0 auto;
	width: 90%;
	max-width: 1300px;
}

@media (min-width: 768px) {
	.container {
		width: 80%;
	}
}

/* grid */
@media (min-width: 576px) {
	.grid {
		display: grid;
		grid-column-gap: 40px;
		grid-template-columns: repeat(12, 1fr);
	}
}

/* button */
.btn {
	display: inline-block;
	padding: 8px 18px;
	color: white;
	font-family: "Avenir Next", Arial, sans-serif;
	font-weight: bold;
	font-size: 1rem;
	text-align: center;
	border: 3px solid;
	box-sizing: border-box;
	transition: all 0.3s ease-in-out;
}

.btn:hover,
.btn:focus {
	background-color: transparent;
}

.btn-white {
	color: var(--dark-grey) !important;
	background: white;
	border-color: white;
}

.btn-white:hover,
.btn-white:focus {
	color: white !important;
}

.btn-blue {
	background: var(--blue);
	border-color: var(--blue);
}

.btn-blue:hover,
.btn-blue:focus {
	color: var(--blue);
}

/* ---------- NAVBAR ---------- */
/* navbar*/
nav {
	position: absolute;
	width: 100vw;
	top: 0;
	z-index: 5;
	padding: 15px 0;
	background-color: var(--faded-grey);
	transition: all 0.3s ease-in-out;
	transition-property: background-color, color;
}

.dark-mode nav {
	color: white;
	background-color: var(--darker-grey);
}

nav.fixed {
	position: fixed;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
	animation: sliding-menu 0.3s ease-in-out;
}

@keyframes sliding-menu {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

@media (min-width: 576px) {
	.navbar {
		flex-direction: row;
	}
}

/* logo */
.logo {
	margin-bottom: 20px;
}

@media (min-width: 576px) {
	.logo {
		margin-bottom: 0;
	}
}

/* navlinks */
.nav-links {
	text-align: center;
}

.nav-links li {
	display: inline-block;
	font-size: 1.125rem;
}

.nav-links li:not(:first-of-type) {
	margin-left: 10px;
}

.nav-links a {
	text-transform: uppercase;
	font-weight: bold;
	position: relative;
	padding-bottom: 5px;
}

.nav-links a:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0%;
	height: 3px;
	background-color: var(--dark-grey);
	transition: all 0.3s ease-in-out;
}

.dark-mode .nav-links a:after {
	background-color: white;
}

.nav-links a:hover:after,
.nav-links a:focus:after,
.nav-links a.nav-selected:after {
	width: 100%;
}

@media (min-width: 576px) {
	.nav-links {
		text-align: right;
	}
}

@media (min-width: 768px) {
	.nav-links li:not(:first-of-type) {
		margin-left: 20px;
	}
}

/* ---------- HOME ---------- */
#home {
	position: relative;
	padding: 160px 0 150px;
}

#home .centre-wrapper {
	max-width: 600px;
	margin: auto;
	height: fit-content;
	height: -moz-fit-content;
}

#home .centre-wrapper > * {
	margin: auto;
}

@media (min-width: 992px) {
	#home {
		height: 100vh;
		max-height: 800px;
		padding: 0;
		padding-top: 50px;
	}

	#home .centre-wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

/* main wrapper */
#home .main-wrapper {
	width: 90%;
	text-align: center;
}

@media (min-width: 992px) {
	#home .main-wrapper {
		width: 100%;
	}
}

/* shapes */
.shapes-sm svg,
.shapes-lg svg {
	width: 100%;
	height: auto;
}

.shapes-sm {
	width: 90%;
	max-width: 350px;
}

.shapes-lg {
	display: none;
}

@media (min-width: 992px) {
	.shapes-sm {
		display: none;
	}

	.shapes-lg {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(65%, -65%);
	}
}

path {
	position: absolute;
	transform-origin: center;
	transform-box: fill-box;
}

#shapes-lg-triangles path,
#shapes-sm-triangles path {
	-webkit-animation: clockwise-spin 6s linear infinite;
	-moz-animation: clockwise-spin 6s linear infinite;
	animation: clockwise-spin 6s linear infinite;
}

#shapes-lg-rectangles path,
#shapes-sm-rectangles path {
	-webkit-animation: anti-clockwise-spin 6s linear infinite;
	-moz-animation: anti-clockwise-spin 6s linear infinite;
	animation: anti-clockwise-spin 6s linear infinite;
}

#shapes-lg-circles path,
#shapes-sm-circles path {
	-webkit-animation: clockwise-spin 4s linear infinite;
	-moz-animation: clockwise-spin 4s linear infinite;
	animation: clockwise-spin 4s linear infinite;
}

@-moz-keyframes clockwise-spin {
	0% {
		-moz-transform: rotate(0deg) scale(1);
	}
	25% {
		-moz-transform: rotate(90deg) scale(0.85);
	}
	50% {
		-moz-transform: rotate(180deg) scale(1);
	}
	75% {
		-moz-transform: rotate(270deg) scale(0.85);
	}
	100% {
		-moz-transform: rotate(360deg) scale(1);
	}
}

@-webkit-keyframes clockwise-spin {
	0% {
		-webkit-transform: rotate(0deg) scale(1);
	}
	25% {
		-webkit-transform: rotate(90deg) scale(0.85);
	}
	50% {
		-webkit-transform: rotate(180deg) scale(1);
	}
	75% {
		-webkit-transform: rotate(270deg) scale(0.85);
	}
	100% {
		-webkit-transform: rotate(360deg) scale(1);
	}
}

@keyframes clockwise-spin {
	0% {
		-webkit-transform: rotate(0deg) scale(1);
		transform: rotate(0deg) scale(1);
	}
	25% {
		-webkit-transform: rotate(90deg) scale(0.85);
		transform: rotate(90deg) scale(0.85);
	}
	50% {
		-webkit-transform: rotate(180deg) scale(1);
		transform: rotate(180deg) scale(1);
	}
	76% {
		-webkit-transform: rotate(270deg) scale(0.85);
		transform: rotate(270deg) scale(0.85);
	}
	100% {
		-webkit-transform: rotate(360deg) scale(1);
		transform: rotate(360deg) scale(1);
	}
}

@-moz-keyframes anti-clockwise-spin {
	0% {
		-moz-transform: rotate(0deg) scale(0.85);
	}
	25% {
		-moz-transform: rotate(-90deg) scale(1);
	}
	50% {
		-moz-transform: rotate(-180deg) scale(0.85);
	}
	75% {
		-moz-transform: rotate(-270deg) scale(1);
	}
	100% {
		-moz-transform: rotate(-360deg) scale(0.85);
	}
}

@-webkit-keyframes anti-clockwise-spin {
	0% {
		-webkit-transform: rotate(0deg) scale(0.85);
	}
	25% {
		-webkit-transform: rotate(-90deg) scale(1);
	}
	50% {
		-webkit-transform: rotate(-180deg) scale(0.85);
	}
	75% {
		-webkit-transform: rotate(-270deg) scale(1);
	}
	100% {
		-webkit-transform: rotate(-360deg) scale(0.85);
	}
}

@keyframes anti-clockwise-spin {
	0% {
		-webkit-transform: rotate(0deg) scale(0.85);
		transform: rotate(0deg) scale(0.85);
	}
	25% {
		-webkit-transform: rotate(-90deg) scale(1);
		transform: rotate(-90deg) scale(1);
	}
	50% {
		-webkit-transform: rotate(-180deg) scale(0.85);
		transform: rotate(-180deg) scale(0.85);
	}
	76% {
		-webkit-transform: rotate(-270deg) scale(1);
		transform: rotate(-270deg) scale(1);
	}
	100% {
		-webkit-transform: rotate(-360deg) scale(0.85);
		transform: rotate(-360deg) scale(0.85);
	}
}

/* ---------- ABOUT ---------- */
.about-box {
	padding: 30px;
	background-color: white;
	border-radius: 20px;
	transition: background-color 0.3s ease-in-out;
}

.dark-mode .about-box {
	background-color: var(--dark-grey);
}

.about-img {
	max-width: 150px;
	margin-bottom: 40px;
}

.about-img > img {
	width: 100%;
	border-radius: 50%;
}

.about-text {
	max-width: 800px;
}

@media (min-width: 576px) {
	.about-box {
		padding: 60px;
	}

	.about-img {
		max-width: 200px;
	}
}

@media (min-width: 992px) {
	.about-box {
		padding: 60px 80px;
	}

	.about-box .wrapper {
		display: flex;
		align-items: center;
		margin: 0 auto;
		width: fit-content;
		width: -moz-fit-content;
	}

	.about-img {
		margin-right: 60px;
		margin-bottom: 0;
	}
}

/* ---------- PORTFOLIO ---------- */
/* grid */
.portfolio-boxes {
	margin-bottom: -30px;
}

.portfolio-box {
	grid-column: span 12;
	max-width: 600px;
	margin: 0 auto 30px;
	position: relative;
	overflow: hidden;
	width: fit-content;
	width: -moz-fit-content;
	height: fit-content;
	height: -moz-fit-content;
}

@media (min-width: 992px) {
	.portfolio-box {
		grid-column: span 6;
	}

	.portfolio-box:nth-child(3) {
		order: 1;
	}
}

/* hidden details */
.portfolio-box:hover:after {
	transform: scale(1) translateZ(0);
}

.portfolio-box:after {
	content: "";
	top: 50%;
	left: 50%;
	width: 150%;
	height: 0;
	padding-top: 150%;
	object-fit: contain;
	background-color: black;
	opacity: 90%;
	position: absolute;
	margin: -75%;
	border-radius: 50%;
	transform: scale(0) translateZ(0);
	transition: transform 0.5s ease-in-out;
	z-index: 1;
}

.portfolio-box .hidden-details {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: all 0.5s ease-in-out;
	color: white;
	z-index: 2;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}

.portfolio-box .hidden-details p {
	font-size: 0.875rem;
}

.portfolio-box:hover .hidden-details {
	opacity: 1;
}

@media (min-width: 992px) {
	.portfolio-box .hidden-details {
		padding: 30px;
	}
}

/* portfolio headers */
.portfolio-header {
	margin-bottom: 5px;
}

/* portfolio screenshot */
.portfolio-screenshot {
	width: 100%;
}

/* portfolio links */
.portfolio-links {
	margin-top: 20px;
	display: flex;
	align-items: center;
}

.portfolio-links a:not(:last-of-type) {
	margin-right: 20px;
}

.github-btn i {
	vertical-align: middle;
	font-size: 2.25rem;
	color: white;
	transition: opacity 0.3s ease-in-out;
}

.github-btn:hover i,
.github-btn:focus i {
	opacity: 0.5;
}

/* ---------- RESUME ---------- */
#resume {
	overflow-x: hidden;
}

.resume-description {
	margin-bottom: 40px;
}

.resume-img {
	width: 100%;
	max-width: 450px;
}

@media (min-width: 768px) {
	.resume-display {
		display: flex;
		align-items: center;
		margin: 0 auto;
		width: fit-content;
		width: -moz-fit-content;
	}

	.resume-description {
		margin-bottom: 0;
		margin-right: 60px;
	}
}

/* ---------- FOOTER ---------- */
footer .container {
	display: flex;
	flex-direction: column-reverse;
	text-align: center;
	padding: 15px 0;
}

@media (min-width: 576px) {
	footer .container {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}

/* footer links */
.footer-links {
	font-size: 1.5rem;
	margin-bottom: 10px;
}

.footer-links li {
	display: inline-block;
	color: var(--dark-grey);
	transition: opacity 0.3s ease-in-out;
}

.footer-links li:not(:last-of-type) {
	margin-right: 10px;
}

.footer-links li:hover,
.footer-links li:focus {
	opacity: 0.5;
}

@media (min-width: 576px) {
	.footer-links {
		margin-bottom: 0;
	}
}

#dark-mode-toggle {
	padding: 5px;
	outline: none;
	background-color: transparent;
	border: none;
	font-size: 1.125rem;
	cursor: pointer;
	transition: opacity 0.3s ease-in-out;
	color: var(--dark-grey);
}

#dark-mode-toggle .show-if-dark {
	color: white;
}

#dark-mode-toggle:hover,
#dark-mode-toggle:focus {
	opacity: 0.5;
}

#dark-mode-toggle i {
	display: block;
}
